:root{
	--red: #B2533E;
	--yellow: #FCE09B;
	--green: #B5CB99;
	--dark-green: #356C52; 
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.content {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.delivery-datetime-label, .full-price-text, .amount {
	margin-bottom: -1px;
}

.outline-container {
  border: 1px solid rgba(0, 0, 0, 0.15);
	margin-top: -1px;
}

.item-image {
	width: auto;
	height: auto;
	overflow: hidden;
	border-radius: 50%;
}

.item-index {
	font-weight: 700;
}

.item-image img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}