* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root{
	--red: #B2533E;
	--yellow: #FCE09B;
	--green: #B5CB99;
	--dark-green: #356C52; 
}


.gradient-bg {
	/* fallback for old browsers */
	background: var(--dark-green);
	
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to bottom right, #B5CB99, #356C52);
	
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to bottom right, #B5CB99, #356C52)
}

.appended-data {
		max-width: 100%;
}